<!DOCTYPE html>
<html>
<head>
  <title>InOut | Cart</title>
  <link rel="icon" href="../static/favicon.ico" sizes="16x16"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="page">
    <h1><a href="{{ url_for('index') }}">InOut Parking lot</a> - Shopping cart</h1>
    <div class="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>

    {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == "error" %}
        <div class="error">{{ message }}</div>
      {% else %}
        <div class="flash">{{ message }}</div>
      {% endif %}
    {% endfor %}

    <ul class="entries">
      {% for id in range(len) %}
      <li class="entry">
        <h2 id="{{ id }}"><a href="{{ trx.trx_urls[id] }}">{{ trx.trx_methods[id] }} </a>Fee: {{ trx.trx_fees[id] }} EUR</h2>
      </li>
      {% else %}
        <li><em>No payment method exist.</em></li>
      {% endfor %}
    </ul>

    {% block body %}{% endblock %}

  </div>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>