<!DOCTYPE html>
<html>
<head>
  <title>InOut</title>
  <link rel="icon" href="../static/favicon.png" sizes="16x16"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="page">
    <h1>Welcome to InOut Parking lot</h1>
   <div class="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>

    {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == "error" %}
        <div class="error">{{ message }}</div>
      {% else %}
        <div class="flash">{{ message }}</div>
      {% endif %}
    {% endfor %}

    <p style="text-align: center; font-size: 50px;">
      <img src="../static/parking_place.png" alt="..." width="500" height="500" usemap="#parkingmap" />
      {% if session.logged_in %}
        <map name="parkingmap">
          <area shape="rect" coords="142,40,210,190" href="{{ url_for('ParkPlace_1') }}" alt="ZA 864KL" >
          <area shape="rect" coords="228,40,296,190" href="{{ url_for('ParkPlace_2') }}" alt="BL 235PP" >
          <area shape="rect" coords="318,40,386,190" href="{{ url_for('ParkPlace_3') }}" alt="BY 698LT" >
          <area shape="rect" coords="404,40,472,190" href="{{ url_for('ParkPlace_4') }}" alt="FREE">
          <area shape="rect" coords="142,305,210,455" href="{{ url_for('ParkPlace_5') }}" alt="MG TW777">
          <area shape="rect" coords="228,305,296,455" href="{{ url_for('ParkPlace_6') }}" alt="3 SAM 123">
          <area shape="rect" coords="318,305,386,455" href="{{ url_for('ParkPlace_7') }}" alt="FREE">
          <area shape="rect" coords="404,305,472,455" href="{{ url_for('ParkPlace_8') }}" alt="KY 68 WZM">
        </map>
      {% endif %}
    </p>

    {% block body %}{% endblock %}

    <ul class="entries">
      {% for entry in entries %}
      <li class="entry">
        <h2 id="{{ entry.id }}">{{ entry.title }}</h2>
        {{ entry.text|safe }}
      </li>
      {% else %}
        <li><em>No entries yet. Add some!</em></li>
      {% endfor %}
    </ul>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>