<!DOCTYPE html>
<html>
<head>
  <title>InOut | Pay</title>
  <link rel="icon" href="../static/favicon.png" sizes="16x16"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="page">
    <h1>InOut Parking lot</h1>
   <div class="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>

    <p style="text-align: center; font-size: 50px;">
      <img src="../static/parking_place.png" alt="..." width="500" height="500" usemap="#parkingmap" />
      {% if session.logged_in %}
        <map name="parkingmap">
          <area shape="rect" coords="142,43,210,202" href="{{ url_for('ParkPlace_1') }}">
          <area shape="rect" coords="231,43,296,190" href="{{ url_for('ParkPlace_2') }}">
          <area shape="rect" coords="319,46,384,190" href="{{ url_for('ParkPlace_3') }}">
        </map>
      {% endif %}
    </p>

    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="error">{{ message }}</div>
    {% endfor %}

    {% for message in get_flashed_messages(category_filter=["success"]) %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}

    {% if session.logged_in %}
      <form action="{{ url_for('pay') }}" method="post" class="add-entry">
        <dl>
          <dt>License plate:</dt>
          <dd>{{ customer.lpn|safe }}</dd>
          <dt>Amount:</dt>
          <dd>{{ customer.amount|safe }} EUR</dd>
          <input name="pp" type="hidden" size="0" value="{{ customer.id|safe }}">
          <input name="lpn" type="hidden" size="0" value="{{ customer.lpn|safe }}">
          <input name="amount" type="hidden" size="0" value="{{ customer.amount|safe }}">
          <dd><input type="submit" value="Pay"></dd>
        </dl>
      </form>
    {% endif %}

  </div>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>